branches/20170803.Jenkins/Source/SIE/SIE.SERVICES/Service References/ServicioValidaCreditoClientes/SI_OS_SBX_to_ECC_ValidaCreditoClientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://SuKarne.com/pi/SBX/ValidaCreditoClientes" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_OS_SBX_to_ECC_ValidaCreditoClientes" targetNamespace="http://SuKarne.com/pi/SBX/ValidaCreditoClientes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_OS_SBX_to_ECC_ValidaCreditoClientes" />
  <wsdl:types>
    <xsd:schema xmlns="http://SuKarne.com/pi/SBX/ValidaCreditoClientes" targetNamespace="http://SuKarne.com/pi/SBX/ValidaCreditoClientes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_SBK_ValidaCreditoClientes_Request" type="p1:DT_SBK_ValidaCreditoClientes_Request" />
      <xsd:element name="MT_SBK_ValidaCreditoClientes_Response" type="p1:DT_SBK_ValidaCreditoClientes_Response" />
      <xsd:complexType name="DT_SBK_ValidaCreditoClientes_Response">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Data Type - Valida credito clientes</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">d9a960c4fb4a11e585800000008991c6</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Resultado" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">64cff954fb4a11e59ecf543976231404</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Mensaje" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">64cff955fb4a11e58d30543976231404</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_SBK_ValidaCreditoClientes_Request">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Data Type - Valida credito clientes</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">552f2fd5fb4a11e5854b0000008991c6</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Cliente" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">64cff954fb4a11e59ecf543976231404</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Importe" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">64cff955fb4a11e58d30543976231404</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Moneda" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7274da87fb4a11e5b7e9543976231404</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Sociedad" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_SBK_ValidaCreditoClientes_Request">
    <wsdl:documentation />
    <wsdl:part name="MT_SBK_ValidaCreditoClientes_Request" element="p1:MT_SBK_ValidaCreditoClientes_Request" />
  </wsdl:message>
  <wsdl:message name="MT_SBK_ValidaCreditoClientes_Response">
    <wsdl:documentation />
    <wsdl:part name="MT_SBK_ValidaCreditoClientes_Response" element="p1:MT_SBK_ValidaCreditoClientes_Response" />
  </wsdl:message>
  <wsdl:portType name="SI_OS_SBX_to_ECC_ValidaCreditoClientes">
    <wsdl:documentation />
    <wsdl:operation name="SI_OS_SBX_to_ECC_ValidaCreditoClientes">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_OS_SBX_to_ECC_ValidaCreditoClientes" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_SBK_ValidaCreditoClientes_Request" />
      <wsdl:output message="p1:MT_SBK_ValidaCreditoClientes_Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_OS_SBX_to_ECC_ValidaCreditoClientesBinding" type="p1:SI_OS_SBX_to_ECC_ValidaCreditoClientes">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_OS_SBX_to_ECC_ValidaCreditoClientes">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_OS_SBX_to_ECC_ValidaCreditoClientesService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_OS_SBX_to_ECC_ValidaCreditoClientesBinding">
      <address location="http://sk-pi-piq.gviz.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_SBX&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_SBX_to_ECC_ValidaCreditoClientes&amp;interfaceNamespace=http%3A%2F%2FSuKarne.com%2Fpi%2FSBX%2FValidaCreditoClientes" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_OS_SBX_to_ECC_ValidaCreditoClientesBinding">
      <address location="https://sk-pi-piq.gviz.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_SBX&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_SBX_to_ECC_ValidaCreditoClientes&amp;interfaceNamespace=http%3A%2F%2FSuKarne.com%2Fpi%2FSBX%2FValidaCreditoClientes" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>